fastapi==0.115.6
uvicorn==0.32.1
pydantic==2.10.3
python-dotenv==1.0.0
python-multipart==0.0.19

pillow==11.0.0
PyMuPDF==1.25.1
easyocr==1.7.2
google-cloud-vision==3.9.0
pytesseract==0.3.13

langchain-openai==0.2.12
langchain-chroma==0.1.4
langchain-community==0.3.11
langchain-huggingface==0.1.2
sentence-transformers==3.3.1
